Repository FlacoFF/FIJ_Foundation-19, pull requests merged in 2022-08, with the labels that each got.

#1 Update paper.dm
  code/modules/paperwork/paper.dm
Labels: Priority: Very High, Code, Bugfix

#8 перевод амнезиаков
  code/modules/reagents/Chemistry-Reagents/medicines/medicines_amnestics.dm
Labels: Code

#9 Перевод законов
  code/datums/ai_law_sets.dm
Labels: Code

#10 Lit-upd_ppe + adminpaper
  code/modules/admin/player_panel/player_panel.dm
  code/modules/paperwork/adminpaper.dm
Labels: Code, Bugfix

#11 Update NewBan.dm
  code/modules/admin/NewBan.dm
Labels: Code

#12 Revert "Update NewBan.dm (#11)"
  code/modules/admin/NewBan.dm
Labels: Code

#14 Upd_Ban
  code/modules/admin/DB ban/functions.dm
Labels: Code

#15 Update player_panel.dm
  code/modules/admin/player_panel/player_panel.dm
Labels: Code

#16 keybind
  code/modules/keybindings/human.dm
  code/modules/keybindings/mob.dm
Labels: Code

#17 fps75
  code/modules/client/preference_setup/global/01_ui.dm
Labels: Code

#18 Update player_panel.dm
  code/modules/admin/player_panel/player_panel.dm
Labels: Code

#20 Del_drink_name_loc_phrase
  code/_helpers/names.dm
Labels: Code

#25 Fix
  code/_helpers/names.dm
  code/modules/mob/living/say.dm
  code/modules/mob/say.dm
Labels: Code

#26 Add_Vote_bestSound
  code/datums/vote/vote.dm
  sound/FIJ_Team/votestart.ogg
Labels: Code

#27 Update names.dm
  code/_helpers/names.dm
Labels: Code

#28 Sound
  code/game/antagonist/outsider/wizard.dm
  code/game/antagonist/station/revolutionary.dm
  code/game/antagonist/station/rogue_ai.dm
  code/game/antagonist/station/traitor.dm
  sound/FIJ_Team/malf.ogg
  sound/FIJ_Team/robothack.ogg
  sound/FIJ_Team/sidestory.ogg
  sound/FIJ_Team/traitor.ogg
  sound/FIJ_Team/wizard.ogg
Labels: Code

#30 Коды | Перевод
  maps/site53/site53_securitystate.dm
Labels: Mapping

#33 Huy
  baystation12.dme
  code/game/objects/structures/morgue.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/db_ban/functions.dm
  code/modules/mob/death.dm
  code/modules/modular_computers/computers/modular_computer/interaction.dm
  html/changelogs/AutoChangeLog-pr-748.yml
  html/changelogs/archive/2022-08.yml
Labels: Merge Conflict, Code

#35 Some_upd
  code/__defines/misc.dm
  code/datums/security_state.dm
  code/modules/admin/admin.dm
  maps/site53/site53_securitystate.dm
Labels: Mapping, Code

#36 Upd_yell
  maps/site53/site53_securitystate.dm
Labels: Mapping
